<ion-view title="'新增項目'">
    <ion-content has-header="true" has-tabs="true" padding="true">
		<div class="list">
			<a class="item item-input item-stacked-label" href="#/itemList">
				<span class="input-label">Date:　</span>
				<span class="input-label">2014/3/11</span>
			</a>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Note:　</span>
				<textarea placeholder="Comments"></textarea>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Cost:　</span>
				<span class="input-label">0</span>
				<span class="input-label">NT</span>
			</label>
			<div class="card stable-bg" id="calculator">
				<div class="row">
					<button class="col button button-dark">7</button>
					<button class="col button button-dark">8</button>
					<button class="col button button-dark">9</button>
				</div>
				<div class="row">
					<button class="col button button-dark">4</button>
					<button class="col button button-dark">5</button>
					<button class="col button button-dark">6</button>
				</div>
				<div class="row">
					<button class="col button button-dark">1</button>
					<button class="col button button-dark">2</button>
					<button class="col button button-dark">3</button>
				</div>
				<div class="row">
					<button class="col button button-dark">0</button>
					<button class="col button button-dark">←</button>
					<button class="col button button-dark">完成</button>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>