<div>
    <ion-header-bar
        type="bar-positive"
        left-buttons="leftButtons"
        right-buttons="rightButtons" 
        title="'類別清單'">
    </ion-header-bar>
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list" id="ClassList">
            <ion-item ng-repeat="Class in Classes" ng-dblclick="showSheet(Class)">
                <div>
                    <span class="{{Class.property == 1 ? 'balanced-bg' : 'assertive-bg'}} stable">
                    	{{Class.property == 0 ? "支出" : "收入"}}
                    </span>　
                    <span>
                        {{Class.title}}
                    </span>
                </div>
            </ion-item>
        </div>
    </ion-content>
</div>

<script id="class.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <button class="button button-positive" ng-click="closeModal()">取消</button>
            <h1 class="title">類別</h1>
            <button class="button button-positive" ng-click="confirm()">
                {{action == "new" ? "確定" : "修改"}}
            </button>
        </header>
        <ion-content has-header="true" padding="true">
            <div class="list">
                <div class="card">
                    <div class="item item-divider">名稱</div>
                    <label class="item item-input">
                        <input class="input-label" type="text"  ng-model="data.title" ng-change="onTitleChanged(data.title)" placeholder="..."/>
                    </label>
                </div>

                <div class="card">
                    <div class="item item-divider">種類</div>
                    <ion-radio ng-repeat="k in kind" ng-value="k.property" ng-model="data.property" ng-change="kindChanged(k)">
                        {{ k.tag }}
                    </ion-radio>
                </div>
            </div>
        </ion-content>
    </div>
</script>