<ion-view title="'項目清單'">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list" id="ItemList">
            <ion-item ng-repeat="item in items" ng-dblclick="showSheet(item)">
                <div class="row">
                    <div class="underline">
                        <span>{{item.time | date:'yyyy-MM-dd'}}</span>　
                        <span class="{{item.property == 1 ? 'balanced-bg' : 'assertive-bg'}} stable">
                            {{item.title}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-80">
                        <h2 class="item-text-wrap dark">
                            {{item.note == "" ? "無" : item.note}}
                        </h2>
                    </div>
                    <div class="col">
                        $ {{item.cost}} NT
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>