<ion-view title="'產生報表'" ng-init="init()">
    <ion-content has-header="true" has-tabs="true" padding="true">
	<link rel="stylesheet" type="text/css" href="../css/report.css" />
		<div class="list">
	    	<label class="item">
					<div class="board">
						<button ng-click="piechart()">creat pie chart</button>
						<piechart data="piechartHistory"></piechart>
					</div>
					<div class="board">
						<button ng-click="linechart()">creat line chart</button>
						<linechart data="linechartHistory"></linechart>
					</div>
					<!--<div class="board">
						<button ng-click="piechart()">creat pie chart</button>
						<piechart data="scoreHistory"></piechart>
					</div>-->
	    	</label>
		</div>
    </ion-content>
</ion-view>