<?xml version="1.0" encoding="UTF-8"?>
<widget id="ntut.cg2014s.money-note" version="1.0.0">
    <name>MoneyNote</name>
    <author>HTML5 第六組</author>
    <description>
        計算幾何學 - 記帳軟體
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
</widget>