<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MoneyNote</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="css/ionic.min.css">
		<link rel="stylesheet" href="css/style.css">	
		<script src="js/lib/ionic.bundle.min.js"></script>
		<script src="js/lib/jquery-1.9.0.min.js"></script>
		<script src="js/lib/moneycost_db.js"></script>
		<script src="https://www.google.com/jsapi"></script>
		<script src="js/PhoneGapModule.js"></script>
		<script src="js/app.js"></script>
		<script src="controllers/itemListCtrl.js"></script>
		<script src="controllers/itemCtrl.js"></script>
		<script src="controllers/classListCtrl.js"></script>
		<script src="controllers/reportCtrl.js"></script>
	</head>
	<body ng-app="MoneyNote">
        <ion-nav-bar type="bar-positive"
            animation="nav-title-slide-ios7"></ion-nav-bar>
		<ion-nav-view></ion-nav-view>
	</body>
</html>
<script src="js/core.js"></script>

<script id="selectTimeRange.html" type="text/ng-template">
	<div class="modal">
		<header class="bar bar-header bar-positive">
			<button class="button button-positive" ng-click="closeSetting()">取消</button>
			<h1 class="title">選擇時間範圍</h1>
			<button class="button button-positive" ng-click="confirmSetting()">確定</button>
		</header>
		<ion-content has-header="true" padding="true">
			<div class="list">
				<div class="card">
                    <div class="item item-divider">貼心選項</div>
                    <div class="row item">
                    	<div class="rol">
                    		<button class="button button-energized" ng-click="choose('today')">
	                    		Today
	                    	</button>
                    	</div>　
                    	<div class="rol">
                    		<button class="button button-energized" ng-click="choose('month')">
	                    		This Month
	                    	</button>
                    	</div>　
                    	<div class="rol">
                    		<button class="button button-energized" ng-click="choose('year')">
	                    		This Year
	                    	</button>
                    	</div>
                    </div>
                </div>

                <div class="card">
                    <div class="item item-divider">起始時間</div>
                    <label class="item item-input">
                        <input class="input-label" type="date" ng-model="data.start" ng-change="onChanged('start', data.start)" />
                    </label>
                </div>

                <div class="card">
                    <div class="item item-divider">結束時間</div>
                    <label class="item item-input">
                        <input class="input-label" type="date"  ng-model="data.end" ng-change="onChanged('end', data.end)" />
                    </label>
                </div>
            </div>
		</ion-content>
	</div>
</script>