<div>
	<ion-header-bar
		type="bar-positive"
		left-buttons="leftButtons"
  		right-buttons="rightButtons" 
  		title="'項目'">
	</ion-header-bar>
	<ion-content has-header="true" has-tabs="true" padding="true">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Date:　</span>
				<input class="input-label" type="date"  ng-model="date" ng-change="onDateChanged(date)"/>
			</label>
			<label class="item item-input item-stacked-label" ng-click="openSelectModal()">
				<span class="input-label">Class:　</span>
				<span class="input-label">{{classname()}}</span>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Note:　</span>
				<input placeholder="Comments" ng-model="note" ng-change="onNoteChanged(note)">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Cost:　</span>
				<span class="input-label">{{cost}}</span>
				<span class="input-label">NT</span>
			</label>
			<div class="card stable-bg" id="calculator">
				<div class="row">
					<button class="col button button-dark" ng-click="clickBtn(7)">7</button>
					<button class="col button button-dark" ng-click="clickBtn(8)">8</button>
					<button class="col button button-dark" ng-click="clickBtn(9)">9</button>
				</div>
				<div class="row">
					<button class="col button button-dark" ng-click="clickBtn(4)">4</button>
					<button class="col button button-dark" ng-click="clickBtn(5)">5</button>
					<button class="col button button-dark" ng-click="clickBtn(6)">6</button>
				</div>
				<div class="row">
					<button class="col button button-dark" ng-click="clickBtn(1)">1</button>
					<button class="col button button-dark" ng-click="clickBtn(2)">2</button>
					<button class="col button button-dark" ng-click="clickBtn(3)">3</button>
				</div>
				<div class="row">
					<button class="col button button-dark" ng-click="clickBtn(0)">0</button>
					<button class="col button button-dark" ng-click="clickBtn('dbZero')">00</button>
					<button class="col button button-dark" ng-click="clickBtn('back')">←</button>
				</div>
			</div>
		</div>
	</ion-content>
</div>
<!-- 
    

-->
<script id="selectClass.html" type="text/ng-template">
	<div class="modal">
		<header class="bar bar-header bar-positive">
			<h1 class="title">選擇類別</h1>
			<button class="button button-positive" ng-click="closeSelectModal()">完成</button>
		</header>
		<ion-content has-header="true" padding="true">
			<ion-list>
				<ion-radio ng-repeat="c in Classes" ng-value="c.ckey" ng-model="Class.ckey" ng-change="classChanged(c)">
	          		{{ c.title }}
	        	</ion-radio>
	        	<div>{{Classes.length == 0 ? '尚未有任何類別唷 ~~ 快去新增吧!!!' : ''}}</div>
	        </ion-list>
		</ion-content>
	</div>
</script>