<div>
    <ion-header-bar
        type="bar-positive"
        left-buttons="leftButtons"
        right-buttons="rightButtons" 
        title="'報表'">
    </ion-header-bar>
    <ion-content has-header="true" has-tabs="true" padding="true">
	<link rel="stylesheet" type="text/css" href="../css/report.css" />
		<div class="list">
			<div class="item item-divider" style="text-align: center;">{{timeRange()}}</div>
	    	<label class="item" style="display: {{ready ? 'block' : 'none'}};">
				<div class="board">
					<piechart data="piechartHistory"></piechart>
				</div>
				<div class="board">
					<linechart data="linechartHistory"></linechart>
				</div>
	    	</label>
		</div>
    </ion-content>
</div>